@using MauiBlazor.Pages.PokerPlanning
@inject ISignalrContext signalR

@if (nav == Pages.LeaderSelectMode)
{
	<code>Number of clients: @clientsJoined</code>
	<h3>Room: @signalR.Settings.Room</h3>
	<div class="button-container">
		<button @onclick="()=>HandleSelection(Pages.LeaderPokerSelectStyle)">
			<img class="@(selected==Pages.LeaderPokerSelectStyle?"selected":"")" src="/Images/users.svg" />
			Poker</button>
		<button @onclick="()=>HandleSelection(Pages.LeaderAssessmentStart)"
			>
			<img class="@(selected==Pages.LeaderAssessmentStart?"selected":"")" src="/Images/magnifying-glass-chart.svg" />
			Assessment</button>
	</div>
	<button class="styled" @onclick="OnSelect">@buttonText</button>
}
else if(nav==Pages.LeaderPokerSelectStyle)
{
	<LeaderPoker @bind-NavBack="nav"/>
}
else if (nav == Pages.LeaderAssessmentStart)
{
	<h1>Assessments</h1>
	<p>Not implemented...</p>
	<button @onclick="()=>nav=Pages.LeaderSelectMode">Back</button>
}

@code {
	[CascadingParameter]
	public int clientsJoined { get; set; }

	private Pages nav = Pages.LeaderSelectMode;
	private Pages selected = Pages.LeaderSelectMode;
	private string buttonText = "Nothing";

	private void HandleSelection(Pages page)
	{
		selected = page;
		buttonText = selected switch
		{
			Pages.LeaderPokerSelectStyle => "Poker",
			Pages.LeaderAssessmentStart => "Assessment",
			_ => "Nothing"
		};
		InvokeAsync(StateHasChanged);
	}
	private void OnSelect() => nav = selected;

}
