@using MauiBlazor.Pages.General;
@using MauiBlazor.SignalR;
@using _SharedSignalR.Models;
@inject ISignalrContext signalr;
<div class="checkbox-container">
    <div class="header-img-container">
        <h2>@Question.Title</h2>
        <img src="@Question.Image" />
    </div>

        @foreach(var alternative in Question.Answers)
        {
            <p>
                <input @onchange="SelectionChanged" type="radio" id="@alternative" name="answer" value="@alternative">
                <label for="@alternative">@alternative</label>
            </p>
        }
    </div>
    <div>
        <button @onclick="OnSubmit" disabled="@(selectedValue=="")" type="submit">Next</button>
    </div>
@code {
    [Parameter]
    public PokerObject Question{ get; set; }
    [CascadingParameter]
    public Lobby _Parent { get; set; }
    string selectedValue = "";

    void SelectionChanged(ChangeEventArgs args)
    {
        selectedValue = args.Value.ToString();
    }

    async Task OnSubmit()
    {
        await signalr.SendPokerVote(selectedValue);
        await _Parent.ChangePage(Pages.ClientPokerResultsView);
    }
}
